
DATABASE_URL="postgresql://<user>:<password>@localhost:5435/<database>?schema=public"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_ID=
GITHUB_SECRET=
# https://generate-secret.vercel.app/32
NEXTAUTH_URL=b92e7d426989cfc99808bc92ffbejsd43